---
layout: default
---

<div class="home">
    {% assign build = page %}
    <div class="row">
        <div class="col-3 col-sm-4">
            <span>
                <h2 class="build-version align-baseline"> {{ build.version }} </h2>
                <span class="align-text-bottom" style="font-size: 85%;">
                    ({{ build.buildNumber }}) &nbsp; {%- if build.platform == "ios" -%}
                    <i class="fab fa-apple"></i>
                    </i> {% else %}
                    <i class="fab fa-android"></i> {%- endif -%}
                </span>
            </span>
        </div>
        {%- if build.platform == "ios" -%}
        <div class="col-9 col-sm-8">
            <span class="float-right">
                {%- if build.public -%}
                <a href='itms-services://?action=download-manifest&url={{site.data.config.webBaseURL}}/assets/b/{{build.folderPath}}/web/manifest.plist'>
                    <button type="button" class="btn btn-outline-primary">
                        <i class="fas fa-cloud-download-alt"></i> Install </button>
                </a>
                {%- endif -%}
                <a href='itms-services://?action=download-manifest&url={{site.data.config.webBaseURL}}/assets/b/{{build.folderPath}}/local/manifest.plist'>
                    <button type="button" class="btn btn-outline-warning">
                        <i class="fas fa-download"></i> Install via LAN </button>
                </a>
            </span>
        </div>
        {% else %}
        <div class="col-9 col-sm-8">
            <span class="float-right">
                {%- if build.public -%}
                <a href='https://{{site.data.config.webBaseURL}}/assets/b/{{build.folderPath}}/{{build.fileName}}'>
                    <button type="button" class="btn btn-outline-primary">
                        <i class="fas fa-cloud-download-alt"></i> Install </button>
                </a>
                {%- endif -%}
                <a href='http://{{site.data.config.localBaseURL}}/assets/b/{{build.folderPath}}/{{build.fileName}}'>
                    <button type="button" class="btn btn-outline-warning">
                        <i class="fas fa-download"></i> Install </button>
                </a>
            </span>
        </div>
        {%- endif -%}
    </div><br/>
    {%- if build.notes != "" -%}
    <div class="build-branch"> RELEASE NOTES
        <br>
        <p style="margin-top: 0.5rem;">
            {{ build.notes }}
        </p>
    </div>
    {%- endif -%}
    <div class="row">
        {%- if build.branch != "" -%}
        <div class="col-4 build-branch">
            <i class="fas fa-code-branch"></i> {{build.branch}}
        </div>
        {%- endif -%}
        <div class="col-8 align-self-end">
            <span class="build-date float-right">
                Uploaded
                <i class="far fa-clock"></i>
                <strong> {{ build.date | timeago }} </strong> ({{ build.date | date: "%I:%M %p on %a, %d %b %Y" }}) </span>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
        <a href="/">
            <h4><i class="fas fa-angle-double-left"></i> Back to All Builds</h4>
        </a>
    </div>

</div>