---
layout: default
---

<style>
    .build-version {
        margin-bottom: 0;
        color: #2a7ae2;
        display: inline;
    }

    .build-date {
        font-size: 12px;
        color: gray;
        text-transform: uppercase;
    }

    .build {
        padding: 0.5rem 0;
        border-bottom: 1px solid #dee2e6;
    }

    .post-list > li {
        margin-bottom: 0;
    }

    .build-branch {
        font-size: 14px;
        color: gray;
    }
</style>

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}


    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Builds" }}</h2>
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li class="build">
            <div class="row">
                <div class="col-7">
                    <span>
                        <h2 class="build-version align-baseline">  {{ post.title }} </h2>
                        <span class="align-text-bottom" style="font-size: 85%;">
                            {{ post.buildno }}
                        </span>

                    </span>
                </div>
                <div class="col-5">
                    <span class="float-right">
                        <i class="fas fa-code-branch"></i>
                        master
                    </span>
                </div>
            </div>

            <div class="build-branch"> RELEASE NOTES <br>
                <p style="margin-top: 0.5rem;">
                    {{ post.desc }}
                <p>
            </div>

            <span class="build-date"> <i class="far fa-clock"></i> {{ post.date | timeago }} </span>
        </li>
        {%- endfor -%}
    </ul>

    {%- endif -%}

</div>