---
layout: default
---

<style>

.build-version {
  margin-bottom: 0;
    color: #2a7ae2;
}

.build-date {
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
}

.build {
    padding: 0.5rem;
    border-bottom: 1px solid #dee2e6;
}

.post-list > li {
    margin-bottom: 0;
}

.build-branch {
  font-size: 14px;
  color: gray;
}


</style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Builds" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="build">
        <h2 class="build-version">  {{ post.title }} </h2>
        <p class="build-branch"> RELEASE NOTES <br> {{ post.desc }} </p>
          <p class="build-branch"> From branch {{ post.branch }} </p>
        <span class="build-date"> {{ post.date | timeago }} </span>
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>